<div class="main-container column ">
    <div class="width-90 ">
        <h1>About</h1>
        <p>I am an enthusiastic, self-motivated individual who holds a national diploma in IT: Business
            Applications from Tshwane University of Technology. I am commited to continuous learning and
            staying up to date with the latest industry trends and advancements. </p>

        <div class="content flex center-center">
            <div class="width-30 ">
                <img src="../../../assets/WhatsApp .jpg" width="100%" alt="">
            </div>
            <div class="width-70 p-right gap slide-in-right">
                <h2>Business Analyst & MEAN Stack Developer.</h2>
                <p> A natural collaborator with a passion for
                    building strong relationships based on trust and mutual respect.I possess excellent
                    communication and interpersonal skills, allowing me to effectively interact with clients,
                    stakeholders, and team members at all levels.</p>
                <div class="mid flex column">
                    <div class="flex  mid gap-1em">
                        <div class="width-50">
                            <ul class="flex column gap-1em">
                                <li><b>Birthday:</b> 20 May 2001</li>
                                <li><b>Email:</b> andilebongiwe04@gmail.com</li>
                                <li><b>Contact:</b> 0814654613</li>
                                <li><b>City:</b> Pretoria</li>
                            </ul>
                        </div>

                        <div class="width-50">
                            <ul class="flex column gap-1em">
                                <li><b>Age:</b> 23</li>
                                <li><b>Degree:</b> N.Dip</li>
                                <li><b>Website:</b> www.andySite.co.za</li>
                                <li><b>Availability:</b> Immedeantly</li>
                            </ul>
                        </div>
                    </div>
                    <p>Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius
                        omnis. Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus
                        itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa
                        magni laudantium dolores</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="full-height full-width flex column">
        <h1> Skills</h1>
        <p>I am an enthusiastic, self-motivated individual who holds a national diploma in IT: Business
            Applications from Tshwane University of Technology. I am commited to continuous learning and
            staying up to date with the latest industry trends and advancements.</p>

    </div> -->

</div>