.main-container{
    height: 100vh;
}

h1{
    margin: 0;
}

.border{
    box-sizing: border-box;
    padding-top: 130px;
    padding-left: 50px;
}
.width-90{
    width: 90%;
    height: 100%;
    color:#173b6c ;
}