/* You can add global styles to this file, and also import other style files */
// @-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
.slide-in-right {
	-webkit-animation: slide-in-right 1s ease-in 2s infinite both;
	        animation: slide-in-right 1s ease-in 2s infinite both;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    width: 100%;
}

.full-height{
    height: 100vh;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.gap{
    gap: .5em;
}

.mat-drawer-container{
    background-color: transparent !important;
}

.mat-toolbar{
    width: 100% !important;
}

.mat-drawer-content{
    height: 100vh !important;
}

 .mat-toolbar-single-row {
height: 40px !important;
background-color: #023b6d;
}

// .mat-drawer-content{
//     background-color: transparent !important;
// }

.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


